<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <link rel="icon" href="img/Strive_Logo_Edit.svg" type="image/svg+xml">
</head>

<body>
    <!-- Top Navbar for Desktop and Mobile Icon -->
    <div class="container-fluid navContainer px-0">
        <nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
            <div class="container-fluid navContainer d-flex justify-content-between align-items-center">
                <a class="navbar-brand textColor" href="index.html">
                    <img src="img/Strive_Logo_Edit.webp" alt="Logo" class="d-inline-block iconImage">
                    <!-- Strive -->
                </a>
                <a class="nav-link textColor" href="">Settings</a>
            </div>
        </nav>
    </div>
    <div id="app" class="container-fluid">
        <div class="container-fluid my-3 contentContainer">
            <ul class="nav nav-tabs workoutTabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#workoutTab">WORKOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#completedTab">COMPLETED</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#builderTab">BUILDER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#historyTab">History</a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Workout Tab -->
                <div class="tab-pane fade show active" id="workoutTab">
                    <div class="card">
                        <div class="card-body m-0 px-2 py-0">
                            <div class="d-flex pt-2">
                                <div class="p-2 flex-grow-1">
                                    <h4 class="card-title text-start">{{ selectedWorkout }}</h4>
                                </div>
                                <div class="py-2 d-flex justify-content-end">
                                    <button type="button" class="addWorkout me-1" data-bs-toggle="modal"
                                        data-bs-target="#removeWorkoutModal" id="removeStart">Remove
                                    </button>
                                </div>
                            </div>

                            <div class="container-fluid p-0 WorkoutContent overflow-y-auto">
<!-- TODO: Fix isButton -->
                                <exercise-list title="Todo List" :list="todoList" :isButton="true"></exercise-list>
                            </div>
                            <div class="py-3 d-flex justify-content-around">
                                <button type="button" class="startWorkout" data-bs-toggle="modal"
                                    data-bs-target="#startWorkoutModal">Start
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Completed Tab -->
                <div class="tab-pane fade" id="completedTab">
                    <div class="card">
                        <div class="card-body m-0 px-2 py-0">
                            <div class="d-flex pt-2">
                                <div class="p-2 flex-grow-1">
                                    <h3 class="card-title text-start">{{selectedWorkout}}</h3>
                                </div>
                                <div class="py-2 d-flex justify-content-end">
                                    <button type="button" class="addWorkout me-1" data-bs-toggle="modal"
                                        data-bs-target="#removeWorkoutModalComplete" id="removeComplete">Remove
                                    </button>
                                </div>
                            </div>
                            <div class="container-fluid p-0 WorkoutContent overflow-y-auto">
                                <exercise-list title="Complete List" :list="completeList"></exercise-list>
                            </div>
                        </div>
                        <div class="py-3 d-flex justify-content-around">
                            <button type="button" class="startWorkout" data-bs-toggle="modal"
                                data-bs-target="#finishWorkoutModal">Finish
                            </button>
                        </div>
                    </div>
                    <!-- <div class="bottomSpacer"></div> -->
                </div>

                <!-- Builder Tab -->
                <div class="tab-pane fade" id="builderTab">
                    <div class="card">
                        <div class="card-body m-0 px-2 py-0">
                            <div class="d-flex pt-2">
                                <div class="p-2 flex-grow-1">
                                    <h3 class="card-title text-start">Workout Library</h3>
                                </div>
                                <div class="py-2 d-flex justify-content-end">
                                    <button type="button" class="addWorkout me-1" data-bs-toggle="modal"
                                        data-bs-target="#deleteWorkoutModal" id="deleteComplete">Delete
                                    </button>
                                </div>
                            </div>

                            <div class="container-fluid p-0 WorkoutContent overflow-y-auto">
                                <!-- TODO: Get the exercise list to properly display in workout-list-item.js -->
                                <workout-list :list="workoutLibraryList"></workout-list>
                            </div>
                        </div>
                        <div class="py-3 d-flex justify-content-around">
                            <button type="button" class="startWorkout" data-bs-toggle="modal"
                                data-bs-target="#buildWorkoutModal">Build
                            </button>
                        </div>
                    </div>
                </div>

                <!-- History Tab -->
                <div class="tab-pane fade" id="historyTab">
                    <h3>History Content</h3>
                </div>
            </div>
        </div>


        <!-- Modal Remove Workout-->
        <app-modal id="removeWorkoutModal" title="Remove Exercise">
            <template #modal-body>
                <h5>This will remove the selected exercise(s).</h5>
                <div class="container-fluid p-0 WorkoutContentRemove overflow-y-auto">
                    <exercise-list title="Todo List" :list="removeGrtZero"></exercise-list>
                </div>
            </template>
            <template #modal-footer>
                <form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-bg-color" data-bs-dismiss="modal"
                            @click="removeGrtZeroExercise(removeGrtZero)">Remove</button>
                    </div>
                </form>
            </template>
        </app-modal>


        <!-- Modal Remove Workout Complete-->
        <div class="modal fade" id="removeWorkoutModalComplete" tabindex="-1"
            aria-labelledby="removeWorkoutModalCompleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-background-color">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeWorkoutModalLabel">Remove Exercise
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>This will remove the selected exercise(s).</h5>
                        <div class="container-fluid p-0 WorkoutContentRemove overflow-y-auto">
<!-- TODO: Fix isButton -->
                            <exercise-list title="Remove Equals Zero" :list="removeEquZero" :isButton="true"></exercise-list>
                        </div>
                    </div>
                    <form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-bg-color" data-bs-dismiss="modal"
                                @click="removeEquZeroExercise(removeEquZero)">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Delete Builder Remove Workout -->
        <div class="modal fade" id="deleteWorkoutModal" tabindex="-1" aria-labelledby="deleteWorkoutModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-background-color">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteWorkoutModalLabel">Delete Workout
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>This will delete the selected workout(s).</h5>
                        <div class="container-fluid p-0 WorkoutContentRemove overflow-y-auto">
                            <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item mt-3 mx-2">
                                    <div class="d-flex flex-column flex-lg-row justify-content-between">
                                        <span class="d-flex py-1">
                                            DB Incline Press
                                        </span>
                                        <span class="d-flex justify-content-between py-1">
                                            Weight: 40 lbs
                                        </span>
                                        <span class="d-flex justify-content-between  py-1">
                                            Set: 3
                                        </span>
                                        <span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-bg-color">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Build Workout -->
        <!-- First Part Modal -->
        <form>
            <div>
                <div class="modal fade" id="buildWorkoutModal" tabindex="-1" aria-labelledby="buildWorkoutModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-background-color">
                            <div class="modal-header">
                                <h5 class="modal-title" id="buildWorkoutModalLabel">Create Workouts Name</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body builder">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="WorkoutName1">Name</span>
                                    <input type="text" class="form-control" aria-label="WorkoutName"
                                        aria-describedby="WorkoutName1" v-model="exercise.workoutName">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <!-- Disable the button when workoutName is empty -->
                                <button class="btn btn-primary btn-bg-color" data-bs-target="#buildWorkoutModalStep2"
                                    data-bs-toggle="modal" :disabled="!exercise.workoutName"
                                    @click="setTempBuilderWorkoutName()">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Part Modal -->
                <div class="modal fade" id="buildWorkoutModalStep2" tabindex="-1"
                    aria-labelledby="buildWorkoutModalStep2Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-background-color">
                            <div class="modal-header">
                                <h5 class="modal-title" id="buildWorkoutModalStep2Label">Build Workout</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body builder">
                                <!-- Exercise Input -->
                                <div class="d-flex justify-content-between py-1">
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-outline-secondary">Exercise</button>
                                        <button type="button"
                                            class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Exercise 1</a></li>
                                            <li><a class="dropdown-item" href="#">Exercise 2</a></li>
                                            <li><a class="dropdown-item" href="#">Exercise 3</a></li>
                                        </ul>
                                        <input type="text" class="form-control"
                                            aria-label="Text input with segmented dropdown button" required
                                            maxlength="25" v-model="exercise.name">
                                    </div>
                                </div>

                                <!-- Weight Input -->
                                <div class="d-flex justify-content-between py-1">
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-outline-secondary">Weight</button>
                                        <button type="button"
                                            class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Weight 1</a></li>
                                            <li><a class="dropdown-item" href="#">Weight 2</a></li>
                                            <li><a class="dropdown-item" href="#">Weight 3</a></li>
                                        </ul>
                                        <input type="number" class="form-control"
                                            aria-label="Number input with segmented dropdown button" required
                                            maxlength="5" v-model="exercise.weight">
                                    </div>
                                </div>

                                <!-- Sets Input -->
                                <div class="d-flex justify-content-between py-1">
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-outline-secondary">Sets</button>
                                        <button type="button"
                                            class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Set 1</a></li>
                                            <li><a class="dropdown-item" href="#">Set 2</a></li>
                                            <li><a class="dropdown-item" href="#">Set 3</a></li>
                                        </ul>
                                        <input type="number" class="form-control"
                                            aria-label="Number input with segmented dropdown button" required
                                            maxlength="5" v-model="exercise.sets">
                                    </div>
                                </div>

                                <!-- Buttons for adding/removing -->
                                <div class="d-flex justify-content-end mb-3">
                                    <button type="button" class="addWorkout me-2">Remove</button>
                                    <button type="button" class="addWorkout" :disabled="!exercise.name"
                                        @click.prevent="addBuildExercise()">Add</button>
                                </div>

                                <!-- Workout Content -->
                                <div class="container-fluid p-0 WorkoutContentBuild overflow-y-auto">
                                    <exercise-list title="Builder List" :list="builderTempList"></exercise-list>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-target="#buildWorkoutModal"
                                    data-bs-toggle="modal">Back</button>
                                <button type="button" class="btn btn-primary btn-bg-color" data-bs-dismiss="modal"
                                    @click="addBuildExerciseToExerciseList()">Build</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Modal start Workout-->
        <app-modal title="Start Workout" id="startWorkoutModal">
            <template #modal-body>
                <form>
                    <div class="mb-3">
                        <label for="workoutName" class="form-label">Workout Name</label>
                        <select class="form-select" v-model="selectedWorkout" aria-label="workoutName">
                            <option selected value="Start">Select your workout</option>
                            <option v-for="exercise in workoutLibraryList" :key="exercise">
                                {{ exercise }}
                            </option>
                        </select>
                    </div>
                </form>
            </template>
            <template #modal-footer>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-bg-color" data-bs-dismiss="modal">Start
                        Workout</button>
                </div>
            </template>
        </app-modal>

        <!-- Modal finish Workout-->
        <div class="modal fade" id="finishWorkoutModal" tabindex="-1" aria-labelledby="finishWorkoutModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-background-color">
                    <form @submit.prevent="finishWorkout(exerciseList)">
                        <div class="modal-header">
                            <h5 class="modal-title" id="finishWorkoutModalLabel">Finish Workout</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <h3 for="workoutName" class="form-label text-center">Congratulations on finishing
                                    your {{selectedWorkout}} Workout!</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-bg-color" data-bs-dismiss="modal">Finish
                                Workout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/components/exercise-list.js"></script>
    <script src="js/components/exercise-list-item.js"></script>
    <script src="js/components/app-modal.js"></script>
    <script src="js/components/workout-list.js"></script>
    <script src="js/components/workout-list-item.js"></script>

    <script>
        app.mount('#app');
    </script>
</body>

</html>