:root {
    --main-color: rgb(0, 114, 180);
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
}

.progress-container span {
    margin-bottom: 5px;
    text-align: right;
}

.progress {
    height: 15px;
    margin-top: 5px;
    width: 140px;
}


.navContainer .navbar {

    font-size: 25px;
    border-bottom: solid 2px white;
}

.navbar-brand {
    font-size: 25px;
}

.navbar.navbar-light {
    border-top: solid 2px white;
}

.spaceBottom {
    margin-bottom: 80px;
}
.card {
    color: white;
    background-color: var(--main-color);
    border: solid 2px white;
}

.container .img-thumbnail {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.contentContainer {
    margin-bottom: 100px;
}

h3.text-center {
    margin-bottom: 40px;
}

.container-fluid.navContainer {
    background-color: var(--main-color);
    height: 120px;
}

.navbar.navbar-light.bg-light.fixed-bottom.d-lg-none .container-fluid {
    font-size: 20px;
    background-color: var(--main-color);
    height: 80px;

}

.textColor {
    color: white;
}

@media (max-width: 768px) {
    .progress {
        height: 15px;
        margin-top: 5px;
        width: 80px;
    }

    .container-fluid.navContainer {
        background-color: var(--main-color);
    }
}