:root {
    --main-color: rgb(0, 114, 180);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
}

.progress-container span {
    margin-bottom: 5px;
    text-align: right;
}

.progress {
    height: 15px;
    margin-top: 5px;
    width: 140px;
}


.navContainer .navbar {

    font-size: 25px;
    border-bottom: solid 2px white;
}

.navbar-brand {
    font-size: 25px;
}

.navbar.navbar-light {
    border-top: solid 2px white;
}

.card {
    color: white;
    background-color: var(--main-color);
    border: solid 2px white;
}

.container .img-thumbnail {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

h3.text-center {
    margin-bottom: 40px;
}

.container-fluid.navContainer {
    background-color: var(--main-color);
    height: 120px;
}

.navbar.navbar-light.bg-light.fixed-bottom.d-lg-none .container-fluid {
    font-size: 20px;
    background-color: var(--main-color);

}

.nav-item.flex-fill {
    padding: 10px;
}

.nav-item.flex-fill.left {
    border-left: solid 1px white;
}

.nav-item.flex-fill.right {
    border-right: solid 1px white;
}

.textColor {
    color: white;
}

.qtyChange {
    font-size: 12px;
    color: white;
    background-color: rgb(161, 161, 161);
    width: 80px;
    border-radius: 12px;
    height: 25px;
    border: 0;
}

.qtyChange:active {
    background-color: rgb(24, 24, 24);
}

button.addWorkout {
    margin-top: 20px;

    height: 50px;
    width: 250px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(92, 92, 92);
    color: white;
}

.bottomSpacer {
    padding-bottom: 40px;
}

.addWorkout:active {
    background-color: rgb(24, 24, 24);
}

.list-group-item {
    color: white;
    background-color: var(--main-color);
    border: 0;
}


.underline {
    border-bottom: 2px solid white;
}