:root {
    --main-color: rgb(0, 114, 180);
    --dark-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 174, 0);
    --secondary-color-border: rgb(209, 143, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-color);
}

.progress-container span {
    margin-bottom: 5px;
    text-align: right;
}

.progress {
    height: 15px;
    margin-top: 5px;
    width: 140px;
}


.navContainer .navbar {

    font-size: 25px;
    border-bottom: solid 2px white;
}

.navbar-brand {
    font-size: 25px;
}
.nav-link:hover {
    color: var(--secondary-color);
}
.navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar.navbar-light {
    border-top: solid 2px white;
}
.nav.nav-tabs.workoutTabs{
    border: 0;

}
.workoutTabs .nav-item a {
    color: white;
    font-weight: 600;
}
.workoutTabs .nav-item a[aria-current="page"] {
    color: var(--dark-color);
}

.card {
    color: white;
    background-color: var(--main-color);
    border: solid 2px white;
    border-top-left-radius: 0 ;
}

.container .img-thumbnail {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.container-fluid.navContainer {
    background-color: var(--main-color);
    height: 120px;
}

.navbar.navbar-light.bg-light.fixed-bottom.d-lg-none .container-fluid {
    font-size: 20px;
    background-color: var(--main-color);

}

.nav-item.flex-fill {
    padding: 10px;
}

.nav-item.flex-fill.left {
    border-left: solid 1px white;
}

.nav-item.flex-fill.right {
    border-right: solid 1px white;
}

.textColor {
    color: white;
}
.list-group-item {
    font-size: 20px;
}

.qtyChange {
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-color);
    background-color: white;
    width: 40px;
    height: 30px;
    border-radius: 12px;
    border: 0;
    /* margin: 2px; */
}

.qtyChange:hover, .qtyChange:active {
    background-color: var(--secondary-color);
}

.qtyChange:active {
    background-color: var(--secondary-color-border);
}


button.addWorkout {
    font-weight: 600;
    font-size: 20px;
    height: 60px;
    width: 180px;
    border-radius: 12px;
    border: 0;
    background-color: white;
    color: var(--dark-color);
}

button.addWorkout:hover {
    background-color: var(--secondary-color);
}

.bottomSpacer {
    padding-bottom: 40px;
}

button.addWorkout:active {
    background-color: var(--secondary-color-border);
}

.list-group-item {
    color: white;
    background-color: var(--main-color);
    border: 0;
}


.underline {
    border-bottom: 2px solid white;
}

.background-image {
    padding: 0;
    margin: 0;
    background-image: url('img/yoga.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh;
    /* border-bottom: 2px solid white; */
}

.modal-background-color {
    background-color: var(--main-color);
    color: white;
}
.btn-bg-color {
    background-color: white;
    color: var(--dark-color);
}

.btn-bg-color:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

.btn.btn-primary.btn-bg-color:active {
    background-color: var(--secondary-color-border);
    color: var(--dark-color);
}

@media (max-width: 768px) {
    .qtyChange {
        font-size: 12px;
        width: 100px;
        height: 30px;
    }
    .background-image {
        border-bottom: 0;
    }

    .navbar-brand {
        margin: auto;
    }

    button.addWorkout {

        height: 40px;
        width: 150px;

    }
}

@media (max-width: 1100px) {
    .qtyChange {
        font-size: 12px;
        width: 100px;
        height: 30px;
    }
}